* 									{ margin: 0; padding: 0; }
body								{ font-family:Arial, Helvetica, sans-serif; font-size:16px; line-height: 140%; } 
ul									{ list-style: none; }
a{
	text-decoration:none;
}
.dropdown .dropsub:hover{
	
	color:red;
}
	


/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; }
ul.dropdown li                      { float: left; zoom: 1; background: #2d2f93; padding: 7px 17px 0px; border-right: 1px solid #333; }
ul.dropdown a:hover		            { color: #000; }
ul.dropdown a:active                { color: #ffa500; }
ul.dropdown li a                    { display: block; padding: 4px 8px; 
	 								  color: #FFF; }
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { background:#FFF; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li 					{ font-weight: normal; background: #f6f6f6; color: #000; 
									  border-bottom: 1px solid #ccc; float: none; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: 100%; top: 0; }
ul.dropdown li:hover > ul 			{ visibility: visible; }


.cssinnerstyle{ background-color:#FFF; margin-top:10px; }

.rad{
	margin: 0px auto; 
 	width: 93%;
	border-radius: 6px;
	box-shadow: 0px 0px 8px rgb(189, 189, 189);
	border: 1px solid rgb(197, 197, 197);
}
.rad1{
	width: 93%;
	margin: 0px auto; 
	margin-top:28px;
	border-radius: 6px;
	box-shadow: 0px 0px 8px rgb(189, 189, 189);
	border: 1px solid rgb(197, 197, 197);
}
